<section class="contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Precisamos de mais informações</h2>

                <form class="contact-form me-lg-5 pe-lg-3" role="form">

                    <div class="form-floating">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required>

                        <label for="name">Nome completo</label>
                    </div>

                    <div class="form-floating my-4">
                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                            placeholder="Email address" required>

                        <label for="email">Email</label>
                    </div>

                    <div class="form-floating my-4">
                        <input type="subject" name="estilo" id="estilo" class="form-control" placeholder="Subject"
                            required>

                        <label for="subject">Estilo de arte</label>
                    </div>

                    <div class="form-floating mb-4">
                        <textarea id="message" name="message" class="form-control" placeholder="Leave a comment here"
                            required style="height: 160px"></textarea>

                        <label for="message">Fale sobre seu trabalho</label>
                    </div>

                    <form>
                        <div class="form-group">
                            <h2 class="mb-4">Foto de <span>Perfil</span></h2>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                    <br>

                    <div class="col-lg-5 col-6">
                        <button type="submit" class="form-control">Envie</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-12 mt-5 ms-auto">
                <div class="row">
                    <div class="col-6 border-end contact-info">
                        <h6 class="mb-3">TCC de:</h6>

                        <p>
                            Ricardo Deutschendorf
                        </p>
                    </div>

                    <div class="col-6 contact-info">
                        <h6 class="mb-3">Curso</h6>

                        <p>
                            Técnico de programação para internet
                            <i></i>
                        </p>
                    </div>

                    <div class="col-6 border-top border-end contact-info">
                        <h6 class="mb-3">Instituição</h6>

                        <p class="text-muted">Ifsul Campus Gravataí</p>
                    </div>

                    <div class="col-6 border-top contact-info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>