<body>
    <form action="/login" method="post">
        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
        <input type="password" name="senha" id="password" class="form-control" placeholder="Password" required>
        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Login</button>
        <p class="text-center">Não tem uma conta? <a href="registro.html">Crie uma!</a></p>
</body>