<section class="slick-slideshow">
    <div class="slick-custom">
        <img src="images/carrosel/tatuage1.webp" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">TattooHub</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Um site que facilita sua comunicação com um
                            profissional tatuador.</p>

                        <a href="/login" class="btn custom-btn">Faça login aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/carrosel/tatuage2.png" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Cadastre-se!</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">Você pode se cadastrar para encontrar mais facilmente
                            clientes!</p>

                        <a href="/cadastro" class="btn custom-btn">Cadastro aqui!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slick-custom">
        <img src="images/carrosel/tatuage3.jpg" class="img-fluid" alt="">

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="slick-title">Ache um tatuador</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">O site consta com uma grande variedade de parceiros
                            com especialidades variadas</p>

                        <a href="/tatuadores" class="btn custom-btn">Veja os tatuadores</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="mb-5">Trabalhos recentes</h2>
            </div>

            <div class="col-12 text-center mt-4">
                <a href="/tatuador/listar" class="">Veja todos Tatuadores</a>
            </div>
        </div>
    </div>
</section>
