<section>
  <div class="padding chat-card centralized content">
    <div class="bordadaora tamanhodasinfo">
      <div class="left-aligned">
      <h2>aqui nome do tatuador</h1> <br>
      </div>
        <h6>aqui nome real do tatuador</h5>
        <h3>estilo de arte</h2>
        <p>descricao</p>
    </div>
  </div>
</section>